.clear{
    clear:both;
}
header.header-carrito {
    background:#224C71;
    padding: 0;
    z-index: 2000;
    margin-bottom: 0;
}
body{
    background: #fff!important;
}
body.inverse{
    background-color:#f5f5f5!important;
}
/**********************************
HOME PANEL  					 */
.home-panel .btn-info{
    font-size: 16px;
}
.home-panel .btn-info i{
    font-size: 36px;
}
.tabla-panel{
    max-width: 100%!important;
    margin:0!important;
}
/**********************************
Select filtro  					 */
.select2-selection--single {
    height: 38px!important;
    border:1px solid rgba(0,0,0,.15)!important;
}
.select2-selection__rendered{
    line-height: 34px!important;
}
.select2-selection__arrow{
    height: 38px!important;
}
.select2-container,
.select2-search__field{
    width:100%!important;
}
#mceu_20{
    width: 100%!important;
}
.content-respuesta-faq{
    padding:20px;
}
.card{
    margin-bottom: 3px;
}
    .card .btn-link{
        color: #666;
        text-align: left;
    }
    .card form{
        margin:20px;
    }
.card-faqs .btn{
    text-align: left;
}
.item-pregunta i{
    display: block;
    position: absolute;
    top:9px;
    right:10px;
    font-size: 20px;
}
.item-pregunta i.fa-check-circle{
    color:#28a745;
}
.item-pregunta i.fa-exclamation-circle{
    color:#ffc107;
}
.cabecera-panel{
    padding:5px 0 25px 0;
    background-color: #f0f3f5;
}
    .inverse .cabecera-panel{
        background-color: #fff;
    }
    .cabecera-panel .breadcrumb,
    .cabecera-panel .breadcrumb2{
      background: transparent!important;
      padding:0!important;
      margin:5px 0 15px 0!important;
      font-size: 15px;
      font-weight: 300;
    }
        .cabecera-panel .breadcrumb i,
        .cabecera-panel .breadcrumb2 i{
            font-weight: 300;
        }
        .cabecera-panel .breadcrumb a,
        .cabecera-panel .breadcrumb2 a{
          color:#666;
        }
.titulo-panel{
    font-size: 22px;
    font-weight: normal;
    text-align: left;
    display:block;
    margin-bottom:0px;
}
    .titulo-panel i{
        color:#138496;
    }
.white-content{
    padding: 25px 0;
    border-top: 2px solid #e9ecef;
}
#filtro-panel{
    border-top:1px solid #E2E2E2;
    padding: 20px 0 0 0;
    margin-bottom: 20px;
}
.paginador{
    display: block;
    margin: 0 auto;
    width: auto;
    text-align: center;
}
.pagination{
    display: block;
    margin-top: 15px!important;
}
.pagination li {
    display: inline-block;
}
.dataTables_paginate{
    text-align: center!important;
}